{{! Adapted from CS 340 bsg_people example web application}}
<h1>Game Platforms</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Game Platform ID</th>
            <th>Title</th>
            <th>Platform</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each gamePlatforms}}
        <tr>
            <td>{{this.gamePlatformID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.name}}</td>

            {{! DELETE form }}
            <form id='delete_gamePlaform_form' method="POST" action="/game_platforms/delete">
                <input type='hidden' name='delete_gamePlatform_ID' value='{{this.gamePlatformID}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a Game Platform</h2>
<form class='cuForm' id='create_gamePlatforms_form' method="POST" action="/game_platforms/add">
    <label for='create_gamePlatforms_title'>Title: </label>
    <select name='create_gamePlatforms_title' id='create_gamePlatforms_title' required>
        <option value='' disabled selected>Select a Title</option>
        {{#each games}}
        <option value='{{this.gameID}}' required>
            {{this.title}}
        </option>
        {{/each}}
    </select>

    <label for='create_gamePlatforms_name'>Platform: </label>
    <select name='create_gamePlatforms_name' id='create_gamePlatforms_name' required>
        <option value='' disabled selected>Select a Platform</option>
        {{#each platforms}}
        <option value='{{this.platformID}}' required>
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Game Platform</h2>
<form class='cuForm' id='update_gamePlatforms_form' method="POST" action="/game_platforms/update">
    <label for='update_gamePlatforms_id'>Game Platform ID to Update: </label>
    <select name='update_gamePlatforms_id' id='update_gamePlatforms_id' required>
        <option value='' disabled selected>Select a Game Platform</option>
        {{#each gamePlatforms}}
        <option value='{{this.gamePlatformID}}'
            data-gameid ='{{this.gameID}}'
            data-platformid ='{{this.platformID}}' required>
            {{this.gamePlatformID}}
        </option>
        {{/each}}
    </select>

    <label for='update_gamePlatforms_title'>Title to Update: </label>
    <select name='update_gamePlatforms_title' id='update_gamePlatforms_title' required>
        <option value='' disabled selected>Select a Title</option>
        {{#each games}}
        <option value='{{this.gameID}}' required>
            {{this.title}}
        </option>
        {{/each}}
    </select>

    <label for='update_gamePlatforms_name'>Platform to Update: </label>
    <select name='update_gamePlatforms_name' id='update_gamePlatforms_name' required>
        <option value='' disabled selected>Select a Platform</option>
        {{#each platforms}}
        <option value='{{this.platformID}}' required>
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

<script>
    document.getElementById('update_gamePlatforms_id').addEventListener('change', function(){
        const selectedOption = this.options[this.selectedIndex];

        const gameID = selectedOption.dataset.gameid;
        const platformID = selectedOption.dataset.platformid;

        document.getElementById('update_gamePlatforms_title').value = gameID;
        document.getElementById('update_gamePlatforms_name').value = platformID;
    });
</script>