{{! Adapted from CS 340 bsg_people example web application}}
<h1>Players Games</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each playerGames.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each playerGames}}
        <tr>
            <td>{{this.playerGameID}}</td>
            <td>{{this.username}}</td>
            <td>{{this.title}}</td>

            {{! DELETE form }}
            <form id='delete_playerGame_form'>
                <input type='hidden' name='delete_playerGame_ID' value='{{this.playerGameID}}' />
                <input type='hidden' name='delete_playerGame_ID' value=' {{this.title}} - {{this.username}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a Players Game</h2>
<form class='cuForm' id='create_game_form'>
    <label for='create_playerGames_username'>Username: </label>
    <select name='create_playerGames_username' id='create_playerGames_username' required>
        <option value='' disabled selected>Select a User</option>
        {{#each playerGames}}
        <option value='{{this.username}}' required>
            {{this.username}}
        </option>
        {{/each}}
    </select>

    <label for='create_playerGames_title'>Title: </label>
    <select name='create_playerGames_title' id='create_playerGames_title' required>
        <option value='' disabled selected>Select a Title</option>
        {{#each playerGames}}
        <option value='{{this.title}}' required>
            {{this.title}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Players Game</h2>
<form class='cuForm' id='update_game_form'>
    <label for='update_playerGame_id'>Players Game ID to Update: </label>
    <select name='update_playerGame_id' id='update_playerGame_id' required>
        <option value='' disabled selected>Select a Players Game</option>
        {{#each playerGames}}
        <option value='{{this.playerGameID}}' required>
            {{this.playerGameID}}
        </option>
        {{/each}}
    </select>

    <label for='update_playerGame_username'>Username to Update: </label>
    <select name='update_playerGame_username' id='update_playerGame_username' required>
        <option value='' disabled selected>Select a Username</option>
        {{#each playerGames}}
        <option value='{{this.username}}' required>
            {{this.username}}
        </option>
        {{/each}}
    </select>

    <label for='update_playerGame_title'>Title to Update: </label>
    <select name='update_playerGame_title' id='update_playerGame_title' required>
        <option value='' disabled selected>Select a Title</option>
        {{#each playerGames}}
        <option value='{{this.title}}' required>
            {{this.title}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>