{{! Adapted from CS 340 bsg_people example web application}}
<h1>Players</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Player ID</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each players}}
        <tr>
            <td>{{this.playerID}}</td>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>

            {{! DELETE form }}
            <form id='delete_player_form'>
                <input type='hidden' name='delete_player_ID' value='{{this.playerID}}' />
                <input type='hidden' name='delete_player_ID' value='{{this.playerID}} {{this.username}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Player</h2>
<form class='cuForm' id='create_player_form' method="POST" action="/players/add">
    <label for='create_player_username'>Username: </label>
    <input type='text' name='create_player_username' id='create_player_username' required />

    <label for='create_player_email'>Email: </label>
    <input type='text' name='create_player_email' id='create_player_email' />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Player</h2>
<form class='cuForm' id='update_player_form'>
    <label for='update_player_id'>Player to Update: </label>
    <select name='update_player_id' id='update_person_id' required>
        <option value='' disabled selected>Select a Player</option>
        {{#each players}}
        <option value='{{this.id}}' required>
            {{this.playerID}}
            -
            {{this.username}}
        </option>
        {{/each}}
    </select>

    <label for='update_player_username'>Username: </label>
    <input type='text' name='update_player_username' id='update_player_username' required>

    <label for='update_player_email'>Email: </label>
    <input type='text' name='update_player_email' id='update_player_email' required />

    <input type='submit' />
</form>