{{! Adapted from CS 340 bsg_people example web application}}
<h1>Players Games</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
                <th>Player Game ID</th>
                <th>Username</th>
                <th>Title</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each playerGames}}
        <tr>
            <td>{{this.playerGameID}}</td>
            <td>{{this.username}}</td>
            <td>{{this.title}}</td>

            {{! DELETE form }}
            <form id='delete_playerGame_form' method="POST" action="/players_games/delete">
                <input type='hidden' name='delete_playerGame_ID' value='{{this.playerGameID}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a Players Game</h2>
<form class='cuForm' id='create_playerGames_form' method="POST" action="/players_games/add">
    <label for='create_playerGames_username'>Username: </label>
    <select name='create_playerGames_username' id='create_playerGames_username' required>
        <option value='' disabled selected>Select a User</option>
        {{#each users}}
        <option value='{{this.playerID}}' required>
            {{this.username}}
        </option>
        {{/each}}
    </select>

    <label for='create_playerGames_title'>Title: </label>
    <select name='create_playerGames_title' id='create_playerGames_title' required>
        <option value='' disabled selected>Select a Title</option>
        {{#each games}}
        <option value='{{this.gameID}}' required>
            {{this.title}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Players Game</h2>
<form class='cuForm' id='update_playerGames_form'>
    <label for='update_playerGames_id'>Players Game ID to Update: </label>
    <select name='update_playerGames_id' id='update_playerGames_id' required>
        <option value='' disabled selected>Select a Players Game</option>
        {{#each playerGames}}
        <option value='{{this.playerGameID}}'
            data-playerid ='{{this.playerID}}'
            data-gameid ='{{this.gameID}}' required>
            {{this.playerGameID}}
        </option>
        {{/each}}
    </select>

    <label for='update_playerGames_username'>Username to Update: </label>
    <select name='update_playerGames_username' id='update_playerGames_username' required>
        <option value='' disabled selected>Select a Username</option>
        {{#each users}}
        <option value='{{this.playerID}}' required>
            {{this.username}}
        </option>
        {{/each}}
    </select>

    <label for='update_playerGames_title'>Title to Update: </label>
    <select name='update_playerGames_title' id='update_playerGames_title' required>
        <option value='' disabled selected>Select a Title</option>
        {{#each games}}
        <option value='{{this.gameID}}' required>
            {{this.title}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

<script>
    document.getElementById('update_playerGames_id').addEventListener('change', function(){
        const selectedOption = this.options[this.selectedIndex];

        const playerID = selectedOption.dataset.playerid;
        const gameID = selectedOption.dataset.gameid;

        document.getElementById('update_playerGames_username').value = playerID;
        document.getElementById('update_playerGames_title').value = gameID;
    });
</script>